Energy-Awareness/Energy-Aware ZSM.aux
Energy-Awareness/Energy-Aware ZSM.bbl
Energy-Awareness/Energy-Aware ZSM.blg
Energy-Awareness/Energy-Aware ZSM.fdb_latexmk
Energy-Awareness/Energy-Aware ZSM.fls
Energy-Awareness/Energy-Aware ZSM.log
Energy-Awareness/Energy-Aware ZSM.synctex.gz
indent.log
Scriptorium.aux
Scriptorium.bbl
Scriptorium.blg
Scriptorium.fdb_latexmk
Scriptorium.fls
Scriptorium.log
Scriptorium.synctex.gz
Energy-Awareness_unzipped.synctex
Energy-Awareness.aux
Energy-Awareness.bbl
Energy-Awareness.blg
Energy-Awareness.fdb_latexmk
Energy-Awareness.fls
Energy-Awareness.log
Energy-Awareness.synctex.gz
Intelligence.aux
Intelligence.bbl
Intelligence.blg
Intelligence.fdb_latexmk
Intelligence.fls
Intelligence.log
Intelligence.synctex.gz
Resiliency.aux
Resiliency.bbl
Resiliency.blg
Resiliency.fdb_latexmk
Resiliency.fls
Resiliency.log
Resiliency.synctex.gz
