Energy-Awareness/Energy-Aware ZSM.aux
Energy-Awareness/Energy-Aware ZSM.bbl
Energy-Awareness/Energy-Aware ZSM.blg
Energy-Awareness/Energy-Aware ZSM.fdb_latexmk
Energy-Awareness/Energy-Aware ZSM.fls
Energy-Awareness/Energy-Aware ZSM.log
Energy-Awareness/Energy-Aware ZSM.synctex.gz
indent.log
Scriptorium.aux
Scriptorium.bbl
Scriptorium.blg
Scriptorium.fdb_latexmk
Scriptorium.fls
Scriptorium.log
Scriptorium.synctex.gz
